In [1]:
import pandas as pd

In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('student_performance_prediction.csv')

In [5]:
#Data haqida umumiy malumot olish.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Student ID                                   40000 non-null  object
 1   Study Hours per Week                         38005 non-null  float64
 2   Attendance Rate                              38008 non-null  float64
 3   Previous Grades                              38006 non-null  float64
 4   Participation in Extracurricular Activities  38000 non-null  object
 5   Parent Education Level                       38000 non-null  object
 6   Passed                                       38000 non-null  object
dtypes: float64(3), object(4)
memory usage: 2.1+ MB

In [ ]:
# Umumiy malumotga qaraganda jami 40 000 ta qator va 7 ustunda 0~6 gacha malumot ustunlari kiritilgan.
# Bunda Student Id dan boshqa barcha ustunda tushirib qoldirilgan qiymatlar borligini bilish mumkin.

In [6]:
#Tushirib qoldirilgan ustunlarni aniqlash. ( isnull() -> tushirilb qoldirilgan qiymat)
df.isnull().sum()

Student ID                                        0
Study Hours per Week                           1995
Attendance Rate                                1992
Previous Grades                                1994
Participation in Extracurricular Activities    2000
Parent Education Level                         2000
Passed                                         2000
dtype: int64

# Tushirib qoldirilgan ustunlarni to'ldirish
# Mean orqali toldirish --> for Numerical columns(O'rta arifmetik usul)

In [7]:
df['Study Hours per Week'].fillna(df['Study Hours per Week'].mean(),inplace=True)  #inplace=True  --> butunlay o'zgartirish

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\3124803801.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Study Hours per Week'].fillna(df['Study Hours per Week'].mean(),inplace=True)  #inplace=True  --> butunlay o'zgartirish

In [8]:
df.isnull().sum()

Student ID                                        0
Study Hours per Week                              0
Attendance Rate                                1992
Previous Grades                                1994
Participation in Extracurricular Activities    2000
Parent Education Level                         2000
Passed                                         2000
dtype: int64

In [9]:
df['Attendance Rate'].fillna(df['Attendance Rate'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\664491762.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance Rate'].fillna(df['Attendance Rate'].mean(),inplace=True)

In [10]:
df['Previous Grades'].fillna(df['Previous Grades'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\918093706.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Previous Grades'].fillna(df['Previous Grades'].mean(),inplace=True)

In [11]:
df.isnull().sum()

Student ID                                        0
Study Hours per Week                              0
Attendance Rate                                   0
Previous Grades                                   0
Participation in Extracurricular Activities    2000
Parent Education Level                         2000
Passed                                         2000
dtype: int64

# Mode bilan toldirish
# (Eng ko'p takrorlangan element bilan to'ldirish)

In [12]:
df['Participation in Extracurricular Activities'].fillna(df['Participation in Extracurricular Activities'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\2689063563.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Participation in Extracurricular Activities'].fillna(df['Participation in Extracurricular Activities'].mode()[0],inplace=True)

In [13]:
df['Parent Education Level'].fillna(df['Parent Education Level'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\834675626.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Parent Education Level'].fillna(df['Parent Education Level'].mode()[0],inplace=True)

In [14]:
df.isnull().sum()

Student ID                                        0
Study Hours per Week                              0
Attendance Rate                                   0
Previous Grades                                   0
Participation in Extracurricular Activities       0
Parent Education Level                            0
Passed                                         2000
dtype: int64

In [15]:
df['Passed'].fillna(df['Passed'].mode()[0],inplace=True)  #buyerda [0] --> eng kop takrorlangan qiymat bo'yicha listga olinganda 0 listdagi eng birinchi qiymat hisoblanadi.

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\914900477.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Passed'].fillna(df['Passed'].mode()[0],inplace=True)  #buyerda [0] --> eng kop takrorlangan qiymat bo'yicha listga olinganda 0 listdagi eng birinchi qiymat hisoblanadi.

In [16]:
df.isnull().sum()

Student ID                                     0
Study Hours per Week                           0
Attendance Rate                                0
Previous Grades                                0
Participation in Extracurricular Activities    0
Parent Education Level                         0
Passed                                         0
dtype: int64

# Median bilan to'ldirish:
# -> Eng o'rtadagi element bilan to'ldirish
# -> Faqat raqamli holda

In [17]:
df['Previous Grades'].fillna(df['Previous Grades'].median(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_15264\150582327.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Previous Grades'].fillna(df['Previous Grades'].median(),inplace=True)

In [18]:
df.isnull().sum()

Student ID                                     0
Study Hours per Week                           0
Attendance Rate                                0
Previous Grades                                0
Participation in Extracurricular Activities    0
Parent Education Level                         0
Passed                                         0
dtype: int64