In [25]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [26]:
import pandas as pd

In [27]:
df=pd.read_csv('student_admission_record.csv')

In [28]:
#Data haqida umumiy malumot olish.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    147 non-null    object
 1   Age                     147 non-null    float64
 2   Gender                  147 non-null    object
 3   Admission Test Score    146 non-null    float64
 4   High School Percentage  146 non-null    float64
 5   City                    147 non-null    object
 6   Admission Status        147 non-null    object
dtypes: float64(3), object(4)
memory usage: 8.7+ KB

In [29]:
#Tushirib qoldirilgan ustunlarni aniqlash. ( isnull() -> tushirilb qoldirilgan qiymat)
df.isnull().sum()

Name                      10
Age                       10
Gender                    10
Admission Test Score      11
High School Percentage    11
City                      10
Admission Status          10
dtype: int64

In [30]:
#mean orqali toldirish
df['Age'].fillna(df['Age'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_16136\2710024185.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [31]:
df['Admission Test Score'].fillna(df['Admission Test Score'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_16136\1454662570.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Admission Test Score'].fillna(df['Admission Test Score'].mean(),inplace=True)

In [32]:
df.isnull().sum()

Name                      10
Age                        0
Gender                    10
Admission Test Score       0
High School Percentage    11
City                      10
Admission Status          10
dtype: int64

In [33]:
#mode bn toldirish
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_16136\569871917.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [34]:
df['High School Percentage'].fillna(df['High School Percentage'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_16136\978037085.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['High School Percentage'].fillna(df['High School Percentage'].mode()[0],inplace=True)

In [35]:
df.isnull().sum()

Name                      10
Age                        0
Gender                     0
Admission Test Score       0
High School Percentage     0
City                      10
Admission Status          10
dtype: int64

In [ ]:
#median bn toldirish
df['Admission Status'].fillna(df['Admission Status'].median(),inplace=True) # raqamli qiymat bolmagani uchun kod xato deb chiqdi

TypeError: Cannot convert ['Rejected' nan 'Accepted' 'Rejected' nan 'Accepted' 'Accepted' 'Accepted'
 'Accepted' 'Rejected' 'Rejected' 'Accepted' nan 'Accepted' 'Rejected'
 'Rejected' 'Rejected' 'Rejected' 'Accepted' 'Rejected' 'Rejected'
 'Rejected' 'Rejected' nan 'Rejected' 'Rejected' 'Rejected' 'Rejected'
 'Accepted' 'Accepted' 'Rejected' 'Rejected' 'Rejected' 'Rejected'
 'Rejected' 'Accepted' 'Rejected' 'Rejected' 'Rejected' 'Accepted' nan
 'Rejected' 'Accepted' 'Accepted' 'Accepted' 'Rejected' 'Accepted'
 'Accepted' 'Accepted' 'Rejected' 'Rejected' nan 'Accepted' 'Rejected'
 'Rejected' 'Accepted' 'Accepted' 'Accepted' 'Accepted' 'Rejected'
 'Accepted' 'Accepted' 'Accepted' 'Accepted' 'Rejected' 'Rejected' nan nan
 'Rejected' 'Accepted' 'Accepted' 'Rejected' nan 'Accepted' 'Rejected'
 'Rejected' 'Accepted' 'Accepted' 'Accepted' 'Rejected' 'Accepted'
 'Rejected' 'Accepted' 'Rejected' 'Accepted' 'Rejected' 'Accepted'
 'Accepted' 'Rejected' 'Rejected' 'Accepted' 'Rejected' 'Accepted'
 'Rejected' 'Accepted' 'Rejected' 'Rejected' 'Rejected' 'Rejected'
 'Accepted' 'Rejected' 'Accepted' 'Accepted' 'Rejected' 'Rejected'
 'Rejected' 'Accepted' 'Accepted' 'Rejected' 'Accepted' 'Accepted'
 'Accepted' 'Accepted' 'Rejected' 'Accepted' 'Rejected' 'Accepted'
 'Rejected' 'Accepted' 'Accepted' 'Rejected' 'Rejected' 'Accepted'
 'Rejected' 'Accepted' 'Accepted' 'Rejected' 'Accepted' 'Rejected'
 'Rejected' 'Rejected' 'Rejected' 'Accepted' 'Rejected' 'Rejected'
 'Rejected' 'Accepted' 'Rejected' 'Accepted' nan 'Accepted' 'Rejected'
 'Rejected' 'Rejected' 'Rejected' 'Accepted' 'Rejected' 'Accepted'
 'Accepted' 'Accepted' 'Accepted' 'Rejected' 'Accepted' 'Rejected'
 'Accepted' 'Accepted' 'Accepted'] to numeric

In [ ]:
# drop orqali tashlab yuborish 
df.drop('City', axis=1,inplace=True)

In [37]:
df.isnull().sum()

Name                      10
Age                        0
Gender                     0
Admission Test Score       0
High School Percentage     0
Admission Status          10
dtype: int64

In [ ]:
#fixed orqali toldirish 
df['Admission Status'].fillna('Accepted', inplace=True)    #fillna('...') ni ichiga uzimiz xoxlagana qiymat kiritiladi

C:\Users\PC\AppData\Local\Temp\ipykernel_16136\278862778.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Admission Status'].fillna('Accepted', inplace=True)

In [40]:
df.isnull().sum()

Name                      10
Age                        0
Gender                     0
Admission Test Score       0
High School Percentage     0
Admission Status           0
dtype: int64